/* Error: Undefined mixin.
 *     ,
 * 581 | /   @include xl2 {
 * 582 | |     display: block;
 * 583 | \   }
 *     '
 *   scss\style.scss 581:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 581 \2502  \250c    @include xl2 {\a 582 \2502  \2502      display: block;\a 583 \2502  \2514    }\a     \2575 \a   scss\\style.scss 581:3  root stylesheet";
}
