@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
}

body {
  background: #262626;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

/* основа */
.header_main {
  display: flex;
  width: 100%;
  Height: 122px;
  align-items: center;
  text-align: center;
  background: #000000;
}

.nav_main {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.header_nav {
  /* Меню */
  margin-left: 137px;
  margin-right: 70px;
}

.link_wrapper {
  display: inline-block;
}

.head_link {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-right: 20px;
  padding-bottom: 40px;
}

.head_link:after {
  content: "";
  width: 100%;
  height: 2px;
  display: none;
  background-color: #FFE600;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1;
}

.head_link:hover:after {
  display: block;
}

.item_logo {
  vertical-align: middle;
  display: inline-block;
  margin-left: 60px;
}

._logo {
  vertical-align: middle;
  display: inline-block;
  width: 183px;
  height: 83px;
}

.phone_nav {
  margin-right: 80px;
}

.phone_li {
  width: 184px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.delivery {
  display: flex;
  align-items: center;
}

.search_wrap {
  display: flex;
  width: 280px;
  height: 50px;
  margin-right: 30px;
}

.search_form {
  display: flex;
  position: relative;
  width: 280px;
  height: 50px;
  border-radius: 20px;
  background: #fff;
  align-items: center;
  overflow: hidden;
}

.search_input {
  padding-left: 50px;
  font-size: 18px;
  width: 280px;
  height: 50px;
  background: #E5E5E5;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  appearance: none;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search_submit {
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.search_submit svg {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 18px;
}

.profile_wrap {
  display: flex;
  margin-right: 60px;
}

.profile_submit {
  border: none;
  background: none;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.main_content {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1860px;
  margin: 0 auto;
}

.wrapper_slider {
  display: flex;
  margin-top: 20px;
}

.slider {
  display: block;
  position: relative;
  width: 1410px;
  height: 300px;
  background: url(/img/slider.png);
  border-radius: 20px;
}

.nav_category {
  display: flex;
  position: relative;
  margin-top: 40px;
  justify-content: space-between;
  width: 1410px;
}

.all_categories p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.all_categories_nav {
  display: flex;
  align-items: center;
}
.all_categories_nav svg {
  background: rgba(0, 0, 0, 0.3);
  width: 18px;
  height: 12px;
  background: none;
}
.all_categories_nav .see_all_nav {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.all_categories_nav .form_cat {
  width: 18px;
  height: 12px;
  align-items: center;
  overflow: hidden;
}
.all_categories_nav .see_all {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-right: 20px;
  /* identical to box height */
  color: #FFFFFF;
}

.category_items {
  display: flex;
  margin-top: 20px;
}

.category_form {
  display: flex;
  width: 138px;
  height: 190px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 20px;
}
.category_form .category_btn {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
  width: 138px;
  height: 190px;
  border-radius: 20px;
}
.category_form .category_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 138px;
  height: 190px;
}
.category_form .category_name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 12px;
}
.category_form .category_img {
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

.products {
  width: 265px;
  height: 29px;
}

.prod {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 10px;
}

.products_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 1410px;
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 345px;
  height: 378px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 20px;
}
.product_card img {
  width: 240px;
  height: 160px;
}
.product_card .product_name {
  width: 305px;
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #FFFFFF;
}
.product_card .product_description {
  width: 305px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.product_card .card_price_btn_wrapper {
  display: flex;
}
.product_card .card_price {
  width: 105px;
  height: 27px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFE500;
}
.product_card .card_weight {
  width: 105px;
  height: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.product_card .card_form {
  display: flex;
  position: relative;
  align-items: center;
  width: 200px;
  height: 50px;
}
.product_card .card_btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
  background: #FFE600;
  border-radius: 10px;
}
.product_card .card_btn p {
  display: block;
  width: 99px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
}
.cart_wrapper_help {
  display: flex;
  max-width: 1860px;
  flex-direction: row;
  align-items: flex-start;
}

.line {
  height: 2px;
  background: #E6E6E6;
  position: relative;
  width: 100%;
}

.cart_price_form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_wrapper_right {
  margin-left: 30px;
  margin-top: 20px;
  display: none;
}
@media (min-width: 1815px) {
  .cart_wrapper_right {
    display: block;
  }
}

.cart_card {
  min-width: 360px;
  background: #000000;
  /* Обводка_неактивных_элемнтов */
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 20px;
}
.cart_card .card_product_in_cart_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart {
  display: flex;
  width: 330px;
  background: #F8F9FC;
  border-radius: 10px;
  margin: 10px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_left {
  display: flex;
  flex-direction: column;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_left .product_name_weight_wrapper {
  display: flex;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_left .product_name_weight_wrapper .card_product_name {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
  margin-top: 10px;
  margin-left: 10px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_left .product_name_weight_wrapper .card_product_weight {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  /* identical to box height */
  color: #000000;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_left .product_description_in_card_wrapper {
  display: flex;
  margin-top: 5px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_left .product_description_in_card_wrapper .product_description_in_card {
  width: 170px;
  height: 46px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 5px;
  margin-left: 10px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_left .product_price_in_card_wrapper {
  display: flex;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_left .product_price_in_card_wrapper .product_price_in_card {
  width: 92px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  /* identical to box height */
  color: #000000;
  margin-left: 10px;
  margin-bottom: 10px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_right .cart_delete .form_delete .btn_delete {
  margin: 10px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_right .cart_add .form_cart_add .btn_cart_add {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_right .cart_add .form_cart_add .btn_cart_add svg {
  width: 40px;
  height: 40px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_right .cart_remove .form_cart_remove .btn_cart_remove {
  width: 40px;
  height: 40px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_right .cart_remove .form_cart_remove .btn_cart_remove svg {
  width: 40px;
  height: 40px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_right .numbers_goods {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #000000;
  width: 30px;
  height: 30px;
}
.cart_card .card_product_in_cart_wrapper .card_product_in_cart .cart_right .cart_add_remove {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.cart_card .p_cart {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  margin: 15px 20px 25px;
}
.cart_card .price_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 15px;
}
.cart_card .price_sum {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.cart_card .price_cart {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-left: 10px;
}
.cart_card .cart_form {
  display: flex;
  position: relative;
  text-align: center;
  max-width: 330px;
  max-height: 50px;
  margin: 15px;
}
.cart_card .cart_btn {
  width: 330px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
  background: #FFE600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
